  <div class="head-incode">
    <%= form_with(model: @list, local: true) do |f| %>
      <%= f.label :incode, "INコード" %><br />
      <%= f.text_field :incode %>
      <%= f.submit "登録", class: :form__btn %>
      <%= render 'layouts/error_messages', model: f.object %> 
    <% end %>
  </div>
    <div class = "today-list">
        <div class = "washu-bar">
          <p>和酒</p>
          <% @lists.each do |list| %>
            <% list.item_lists.each do |item_list| %>
              <% if item_list.item.main_category_id == 1 %>
              <div class="item-list-today">
                <%= item_list.item.incode %>
                <%= item_list.item.sub_category.name %>
                <%= item_list.item.name %>
              </div>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class = "yoshu-bar">
          <p>洋酒</p>
          <% @lists.each do |list| %>
            <% list.item_lists.each do |item_list| %>
              <% if item_list.item.main_category_id == 2 %>
              <div class="item-list-today">
                <%= item_list.item.incode %>
                <%= item_list.item.sub_category.name %>
                <%= item_list.item.name %>
              </div>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class = "genshu-bar">
          <p>原酒</p>
          <% @lists.each do |list| %>
            <% list.item_lists.each do |item_list| %>
              <% if item_list.item.main_category_id == 3 %>
              <div class="item-list-today">
                <%= item_list.item.incode %>
                <%= item_list.item.sub_category.name %>
                <%= item_list.item.name %>
              </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
    </div>
