  <div class="head-incode">
    <%= form_with(model: @list, local: true) do |f| %>
      <%= f.label :incode, "INコード" %><br />
      <%= f.text_field :incode %>
      <%= f.submit "登録", class: :form__btn %>
      <%= render 'layouts/error_messages', model: f.object %> 
    <% end %>
  </div>
    <div class = "today-list">
        <ul class = "washu-bar">
          <span>和酒</span>
          <% @lists.each do |list| %>
            <% list.item_lists.each do |item_list| %>
              <% if item_list.item.main_category_id == 1 %>
              <li>
                <%= item_list.item.incode %>
                <%= item_list.item.sub_category.name %>
                <%= item_list.item.name %>
              </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>

        <ul class = "yoshu-bar">
          <span>洋酒</span>
          <% @lists.each do |list| %>
            <% list.item_lists.each do |item_list| %>
              <% if item_list.item.main_category_id == 2 %>
              <li>
                <%= item_list.item.incode %>
                <%= item_list.item.sub_category.name %>
                <%= item_list.item.name %>
              </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>

        <ul class = "genshu-bar">
          <span>原酒</span>
          <% @lists.each do |list| %>
            <% list.item_lists.each do |item_list| %>
              <% if item_list.item.main_category_id == 3 %>
              <li>
                <%= item_list.item.incode %>
                <%= item_list.item.sub_category.name %>
                <%= item_list.item.name %>
              </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
    </div>
