<h1>検索</h1>
  
  <%= search_form_for @l, url: result_lists_path do |f| %>
    <%= f.label :incode_eq, 'INコード' %><br>
    <%= f.search_field :incode_eq %>
    <%= f.submit '検索' %>

    <h2>検索結果</h2>
    <% if @results.length !=0 %>
      <% @results.each do |result| %>
        <% if result.analyses.present? %>
            <% result.analyses.each do |analysis| %>
              <%= link_to analysis_path(analysis.id), class: 'item-list' do %>
                <div><%= analysis.item.incode %></div>
                <div><%= analysis.item.sub_category.name %></div>
                <div><%= analysis.item.name %></div>
                <div><%= analysis.list.date %></div>
              <% end %>
            <% end %>
        <% end %>
      <% end %>
    <% else %>
      <h3>該当する製品はありません</h3>
    <% end %>
  <br>

  <% end %>