<h1>分析結果</h1>
    <div class="show-dashboard">
        <ul class="analysis-card">
          <li class="date">
            <span>日付</span>
            <%= @analysis.list.date %>
          </li>
          <li class="incode">
            <span>INコード</span>
            <%= @analysis.item.incode %>
          </li>
          <li class="name">
            <span>製品名</span>
            <%= @analysis.item.name %>
          </li>
          <li class="tank-no">
            <span>タンクNo.</span>
            <%= @analysis.tank_no %>
          </li>
          <li class="density">
            <span>比重</span>
            <%= @analysis.density %>
          </li>
          <li class="alcohol">
            <span>Alcohol</span>
            <%= @analysis.alcohol %>
          </li>
          <li class="extract">
            <span>エキス</span>
            <%= @analysis.extract %>
          </li>
          <li class="acid_defree">
            <span>酸</span>
            <%= @analysis.acid_degree %>
          </li>
          <li class="amino_acid">
            <span>アミノ酸</span>
            <%= @analysis.amino_acid %>
          </li>
          <li class="color">
            <span>OD430nm</span>
            <%= @analysis.color %>
          </li>
          <li class="nacl">
            <span>塩分</span>
            <%= @analysis.nacl %>
          </li>
          <li class="turbidity">
            <span>濁度</span>
            <%= @analysis.turbidity %>
          </li>
          <div class="sulfurous_acid">
            <span>亜硫酸</span>
            <div class="free_sulfurous_acid">
              <span>Free</span>
              <%= @analysis.free_sulfurous_acid %>
            </div>
            <div class="total_sulfurous_acid">
              <span>Total</span>
              <%= @analysis.total_sulfurous_acid %>
            </div>
          </div>
          <div class="comment">
            <span>備考</span>
            <%= @analysis.comment %>
          </div>
        </ul>

        <div class="pdf-content">
          <div class="pdf-description">
            <p>URLに「.pdf」を入力すると直接PDFのダウンロードが可能です<br>
                下記のボタンから取引先に提出するPDFを生成できます
            </p>
          </div>
          <div class="pdf-button">
            <%= button_to "分析報告書", generatepdf_analyses_path(format: :pdf, id: @analysis.id) %>
          </div>
        </div>
    <div>