<main class="main">
  <div class="inner">
    <div class="item-pool">
      <div class="item-input">
        <h2 class="page-heading">新製品登録</h2>
        <%= form_with(model: @item, local: true) do |f| %>

          <div class="field">
            <%= f.label :incode, "INコード" %><em>（半角数字6桁）</em><br />
            <%= f.text_field :incode %>
          </div>

          <div class="field">
            <%= f.label :name, "製品名" %><br />
            <%= f.text_field :name %>
          </div>

          <div class="field">
            <%= f.label :main_category, "主カテゴリー" %><br />
            <%= f.collection_select(:main_category_id, MainCategory.all, :id, :name, {}, {class: "category-select"}) %>
          </div>
          
          <div class="field">
            <%= f.label :sub_category, "副カテゴリー" %><br />
            <%= f.collection_select(:sub_category_id, SubCategory.all, :id, :name, {}, {class: "category-select"}) %>
          </div>

          <div class="actions">
            <%= f.submit "登録", class: :form__btn %>
          </div>

          <%= render 'layouts/error_messages', model: f.object %> 
        <% end %>
      </div>

      <div class="item-index">
        <h2 class="page-heading">登録済み製品</h2>
        <div class="all-item">
          <div class="all-item-title">
            <a>INコード</a>
            <a>カテゴリ</a>
            <a>製品名</a>
          </div>
          <% @items.each do |i| %>
            <%= link_to edit_item_path(i.id), class: "item-list", method: :get do %>
              <div><%= i.incode %></div>
              <div><%= i.sub_category.name %></div>
              <div><%= i.name %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>